main {
  margin: 25px auto;
  width: 80%;
}

.employee-list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  /* each column repeats in 3s, taking up 1 fraction of the page in 1 space */
}
